<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">


<!--登入-->
    <select id="getAdminByAccountPassword" resultType="com.example.demo.entity.Admin">
        SELECT id,account,password,name,phone,email,is_admin FROM admin WHERE account = #{account} AND password = #{password}
    </select>

<!--修改管理中心資料-->
    <update id="updateAdmin">
        UPDATE admin
        <set>
            <if test="password !=null and password !='' ">
                password=#{password},
            </if>

            <if test="name != null and name != '' ">
                name=#{name},
            </if>

            <if test="phone != null and phone != '' ">
                phone=#{phone},
            </if>

            <if test="email != null and email != '' ">
                email=#{email},
            </if>
            updated_time = now()
        </set>
        where id= #{id}
    </update>

<!--查詢adminId-->
    <select id="selectAdminById" resultType="com.example.demo.entity.Admin">
        SELECT id,account,password,name,phone,email,is_admin FROM admin WHERE id = #{id}
    </select>

<!--查詢用戶-->
    <select id="selectUserById" resultType="com.example.demo.entity.User">
        SELECT id,name,phone,email,is_admin,created_time FROM user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>
</mapper>